@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0px;
  padding: 0px;
}

.custom-gradient {
    background-image: linear-gradient(to top right, var(--tw-gradient-stops));
    --tw-gradient-from: #7e22ce var(--tw-gradient-from-position);
    --tw-gradient-to: rgba(126, 34, 206, 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: rgba(220, 38, 38, 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #2657dc var(--tw-gradient-via-position), var(--tw-gradient-to);
    --tw-gradient-to: #ca0460 var(--tw-gradient-to-position);
}